<% provide :page_title, @post.title %>
<% provide :author_active, "active" %>

<div class="container">
  <% if author_signed_in? && current_author.id == @post.author.id %>
    <div>
      <%= link_to "Delete", post_path(@post), method: :delete, class: "btn btn-read btn-right-float", data: {confirm: "Are you sure?" } %> 
      <%= link_to "Edit", edit_post_path(@post), class: "btn btn-read btn-right-float", style: "text-align: right" %> 
      <%= link_to "Back to my posts", author_path, class: "btn btn-read" %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12 col-lg-10 offset-lg-1" style="text-align: center">
      <h1><%= @post.title %></h1>
      <p class="published-date light-grey"><%= @post.was_published_at %> by <%= link_to @post.author.name, posts_path(author_id: @post.author.id) %></p>
      <p><%= image_tag(@post.author.gravatar_image_url, :class => "image-rounded-circled") %></p>
      <div class="btn-group">
        <%= link_to post_like_path(@post), method: :put, class: "btn btn-default btn-sm" do %>
          <span class="glyphicon glyphycon-chevron-up"></span>
          Upvote
          <%= @post.get_upvotes.size %>
        <% end %>
        <%= link_to post_dislike_path(@post), method: :put, class: "btn btn-default btn-sm" do %>
          <span class="glyphicon glyphycon-chevron-up"></span>
          Downvote
          <%= @post.get_downvotes.size %>
        <% end %>
      </div>
      <%= @post.content.html_safe %>
      <div class="author-bio">
        <p><%= image_tag(@post.author.gravatar_image_url, :class => "image-rounded-circled") %></p>
        <h4><%= @post.author.name %></h4>
        <% if @post.author.website.present? %>
          <p class='bio'>Visit my website at   <span class="website"><%= @post.author.website %></span></p>
        <% end %>
        <p class='bio'><%= @post.author.bio %></p>
      </div>
    </div>
  </div>


  <% if author_signed_in? && current_author.id == @post.author.id %>
    <%= link_to "Back", author_path, class: "btn btn-read" %>
  <% end %>
</div>
