<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to "BloggR", posts_path, class: "navbar-brand" %>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav center">
      <li class="nav-item">
        <%= link_to 'Home', posts_path, class: "nav-link #{yield(:home_active)}" %>
      </li>
      <li>
        <span class="nav-link"> | </span>
      </li>      
      <li class="nav-item">
        <%= link_to 'New', new_post_path, class: "nav-link #{yield(:new_active)}" %>
      </li>
      <li><span class="nav-link"> | </span></li>      
      <li class="nav-item">
        <a class="nav-link" href="#">Art</a>
      </li>
      <li><span class="nav-link"> | </span></li>
      <li class="nav-item">
        <a class="nav-link" href="#">Business</a>
      </li>
      <li><span class="nav-link"> | </span></li>   
      <li class="nav-item">
        <a class="nav-link" href="#">Fashion</a>
      </li>
      <li><span class="nav-link"> | </span></li>
      <li class="nav-item">
        <a class="nav-link" href="#">Gaming</a>
      </li>
      <li><span class="nav-link"> | </span></li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lifestyle</a>
      </li>
      <li><span class="nav-link"> | </span></li>
      <li class="nav-item">
        <a class="nav-link" href="#">Politics</a>
      </li>
      <li><span class="nav-link"> | </span></li>
      <li class="nav-item">
        <a class="nav-link" href="#">Stories</a>
      </li>
      <li><span class="nav-link"> | </span></li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tech</a>
      </li>
    </ul>
  </div>
  <% if author_signed_in? %>
    <a class="nav-item dropdown <%= yield(:author_active) %>">
      <a class="nav-link dropdown-toggle navbar-brand" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Author
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <%= link_to 'New post', new_post_path, class: "dropdown-item" %>
        <%= link_to 'My posts', author_path, class: "dropdown-item" %>
        <a class="dropdown-item" href="#">My account</a>
        <%= link_to 'Logout', destroy_author_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </a>
  <% else %>
    <li class="nav-item">
      <%= link_to 'Signin', new_post_path, class: "nav-link" %>
    </li>
      <li class="nav-item">
      <%= link_to 'Signup', new_author_registration_path, class: "nav-link" %>
    </li>
  <% end %>
</nav>